Create your project on Firebase
// https://console.firebase.google.com/

Configure Firebase Cloud storage
// Build > Storage > Get started

Generate and download your serviceAccountKey.json
// Project settings > Service accounts > Generate new private key

Add the serviceAccountKey.json to your project